body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer, Edge */
    user-select: none; /* Стандартное свойство */
}

header {
    background-color: #53554c;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

main {
    padding: 2rem;
}

h2 {
    text-align: center;
    border-bottom: 1px solid #53554c;
    padding-bottom: 0.5rem;
}

@media (max-width: 767px) {
    main {
        padding: 1rem;
    }

    #add-movie-form {
        flex-direction: column;
    }

    #add-movie-form input {
        margin-right: 0;
        width: 100%;
    }

    #add-movie-form button {
        width: 100%;
    }
}